<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workingstudio.rias_gremory"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <service
            android:name="Main"
            android:icon="@drawable/icon"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/appinfo" />
        </service>
    </application>

</manifest>